body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #d3ffdd;
    margin: 20px;
    padding: 0;
}

label {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

select {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

input {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.UserForm {
}
